
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1023px) {
  
  :root{
    --lg-headers: 3rem;
    --md-headers: 2rem;
    --sm-headers: 1.4rem;
    --lg-paragraph: 1.8em;
    --md-paragraph: 1.4em;
    --sm-paragraph: 1.1em;
    }
}

@media screen and (max-width: 768px){
    :root{
        --lg-headers: 2.2rem;
        --md-headers: 1.5rem;
        --sm-headers: 1.2rem;
        --lg-paragraph: 1.3em;
        --md-paragraph: 1em;
        --sm-paragraph: 1em;
    }
}

@media screen and (max-width:479px) {
  :root{
    --lg-headers: 1.8rem;
    --md-headers: 1.3rem;
    --sm-headers: 1rem;
    --lg-paragraph: 1.2em;
    --md-paragraph: 1em;
    --sm-paragraph: 0.9em;
  }
    
}